# 编译生成的文件
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib
*_binary
# 压缩文件
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# 日志和数据库
*.log
*.sql
*.sqlite

# 操作系统生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE 和编辑器生成的文件
.vscode/
.idea/
*.swp
*.swo
*~

# 其他二进制文件
*.bin
*.dat
*.pkl
*.pyc
__pycache__/


extension

test
extensions
build

ILdtaJ/


debug*
opod_paicha/*
jianli/*

chapter*

xiangmu/ragnaros/分布式化/external/etcd-cpp-apiv3/etcd-cpp-apiv3
TTMP/